/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
    background-image: url('../pictures/konoha.jpg');
}

.race-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
}

.flex-title {
    flex: 1;
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}
section#accelerate button:disabled {
    color: red;
    border-color: red;
}

section#accelerate button .fas {
    font-size: 162px;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

    .flex-title {
        font-size: 40px;
    }

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {

    .flex-title {
        font-size: 45px;
    }
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {

    .flex-title {
        font-size: 45px;
    }
}
